<script id="tmpl-ContactView" type="text/html">
  <div class="ContactView">
    <h2>Contact View</h2>
    <div class="list-container"></div>
  </div>
</script>

<script id="tmpl-ContactView-list" type="text/html">
    <ul>
        <li>Name: {{contact.first_name}} {{contact.last_name}}</li>
        <li>ID: {{contact.contact_id}}</li>
        <li>Phone: {{contact.phone}}</li>
    </ul>
</script>