<script id="tmpl-ContactListView" type="text/html">
  <div class="ContactListView container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-default pull-right" id="close">Close</button>
                    <p>Add Contact to Group</p>
                </div>
                <div class="panel-body">
                    {{#each contacts}}
                        <li data-entity="Contact" data-entity-id="{{contact_id}}">{{first_name}} {{last_name}}</li>
                    {{/each}}
                </div>
            </div>
                
        </div><!--col-md-8-->
    </div><!--row-->
  </div>
</script>