<script id="tmpl-GroupListNav" type="text/html">
  <div class="GroupListNav">
    <h2>Groups</h2>
    <div class="list-container">

    </div>
  </div>
</script>

<script id="tmpl-GroupListNav-list" type="text/html">
  <ul>
    {{#each groups}}
    <li data-entity="Group">
        <a data-entity-id="{{group_id}}">{{title}}</a>
        <div class="contactList-container">
        </div>
        <i>Add Contact</i>
    </li>
    {{/each}}
  </ul>  
</script>

<script id="tmpl-GroupListNav-contactList" type="text/html">
    <ul>
    {{#each contacts}}
        <li data-entity="Contact" data-entity-id="{{contact_id}}">{{first_name}} {{last_name}} {{contact_id}}</li>
    {{/each}}
    </ul>
</script>