<script id="tmpl-MainView" type="text/html">
  <div class="MainView">
    
    <div class="MainView-topNav">
      <h2>Address Book</h2>
      <p>Add Contact</p>
    </div>
    
    <div class="MainView-left">
      
    </div>
    
    <div class="MainView-content">
      <div class="MainView-groupViewPanel">
      </div>
    </div>
  </div>
</script>