<script id="tmpl-NewGroupFormView" type="text/html">
  <div class="NewGroupFormView container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-default pull-right" id="close">Close</button>
                    <p>New Group</p>
                </div>
                <div class="panel-body">
                    <form>
                    <div class="form-group">
                        <label for="title">Group Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Group Title">
                    </div>
                    <button type="submit" id="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
                
        </div><!--col-md-8-->
    </div><!--row-->
  </div>
</script>