.GroupListNav{
  border: dashed 1px blue; /* for layout debug */
}

.GroupListNav h2{
  margin: 0;
  padding: 7px 0 5px 10px;
  line-height: normal;
  font-size: 20px; 
  color: rgba(100,100,100,.5);
}

.GroupListNav ul{
  margin: 0;
  padding: 0;
}

.GroupListNav ul li{
  list-style: none;
  color: #555;
  margin: 0;
  padding: 5px 0 5px 10px;
  opacity: .8;
  cursor: pointer;
}

.GroupListNav ul li.sel{
  font-weight: bold;
  color: #000;
}